html {
  scroll-behavior: smooth;
}
body {
  background: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  line-height: 145%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
  color: white;
  display: block;
}
a:hover {
  text-decoration: none;
  color: white;
}
/* New Navbar styling */

.navbar2 {
    font-size: 18px;
    background: #8884a4;;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    padding-bottom: 1%;
    margin : 0 !important;
    /* font-family: 'Josefin Sans', sans-serif; */
}
.main-nav {
  list-style-type: none;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.navbar-brand2{
  display: flex;
  justify-content:flex-start;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-left: 20px;
}
.navLink2 {
    text-decoration: none;
    color: whitesmoke;
}
.navbar-toggle {
  position: absolute;
  top: 6px;
  right: 5px;
  width:30px;
  cursor: pointer;
}
.hamb {

}
.caretDiv {
  width:15px;
}
.dropItem {
  margin-left: 10%;
}

/* End new navbar styling */

.ynNavBrand {
  margin-left: 2%;
}

.App {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-around;
  /* text-align: center; */
}
.archiveDiv {
  display:flex;
  justify-content: center;
}
.cTADiv {
  display:flex;
  justify-content: center;
  margin-top:8%;
  margin-bottom: 5%;
}
.backButton {
  padding: 2%;
  border-radius: .5rem;
  background: darkgray;
  color: whitesmoke;
  border: none;
}
.clickTDiv {
  margin:5% 0 5% 0;
  background:#1566b7;
  padding:5%;
  width:80%;
  margin:auto;
  margin-bottom:5%;
  border-radius:.5rem;
  cursor:pointer;
}
.sprintCTA {
  display: inline-block;
  font-size: 1.5rem;
  background: #1566b7;
  padding:3%;
  border: 1px solid white;
  border-radius:.5rem;
  margin:auto;
  text-align: center;
  transition:.3s;
  font-weight:500;
}
.sprintCTA:hover {
  background:white;
  color:#1566b7;
  border: 1px solid #1566b7;
}
.CTAButton, .subsectButton, .subsectButtonOdd {
  border: 1px solid white;
  padding: 3% 5%;
  border-radius: .5rem;
  font-weight: 600;
  font-size: 1.25rem;
  /* background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); */
  background: #6a5acd;
  color: white;
  margin-bottom: 2%;
  margin-top: 10%;
  cursor: pointer;
  transition: .3s;
}
.subsectButtonOdd {
  background:white;
  color:#6a5acd;
  border: 1px #6a5acd solid;
}
.CTAButton:hover, .subsectButton:hover {
  background:white;
  color:#6a5acd;
  border: 1px #6a5acd solid;
}
.subsectButtonOdd:hover{
  background: #6a5acd;
  color: white;
  border:1px solid white
}
.CTAButton {
  width: 50%;
}
.subsectButton, .subsectButtonOdd {
  width: 50%;
}
.subLink {
  text-decoration: underline;
  color:blue;
  transition:.3s;
}
.subLink:hover {
  color:hotpink;
  text-decoration: underline;
}
.navDiv {
  display: flex;
  justify-content: center;
}
.sticky {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.hide {
  display: none;
}
.top_nav {
  background-color: #4f829b;
  overflow: hidden;
  padding:1%;
}
.dropdownItem:hover {
  color: black;
}
.navLink {
  color: #262626;
  font-weight: 600;
  padding-left:2%;
  transition: .1s;
}
.navLink:hover, .ynNavBrand:hover {
  color:black;
  border-radius: .5rem;
}
.navLink:hover {
  background:white;
}
.navIcon {
  fill:#322c3a;
  transition: .1s;
}
.navIcon:hover {
  fill:white;
}
.topIcons {
  width: 50%;
}
.nav-div {
  background: #1a2932;
}
.navbarBrand:hover {
  color:black;
  text-decoration: underline;
}
.alertDiv {
  margin:auto;
  margin-top:10%;
  width:80%;
}
.frontDiv {
  margin:5%;
}
.topDiv {
  padding: 25% 0 18% 0;
  background:#322c3a;
  position: relative;
}
.titleIcons {
  width:45%;
}
.yesTitleIcon {
  float:right;
}
.yesNoImage {
  margin-top: -1%;
  width: 100%;
  opacity:.95;
}
/* .routeTitle {
  color: black;
  position: absolute;
  top:18%;
  left: 20%;
  text-align:center;
} */

.buildPic {
  width:30%;
  margin-left:35%;
}
.buttonDiv {
  display:flex;
  justify-content:space-evenly;
  margin-top:4%;
}
.setButton, .goBackButton {
  padding: 2% 3%;
  border: none;
  border-radius: .5rem;
  min-width:5rem;
  white-space: nowrap;
}
.setButton {
  background:whitesmoke;
  color:#1566b7;
  transition: .3s;
}
.goBackButton {
  background: #a399b2;
  color:whitesmoke;
}
.setButton:hover {
  color:whitesmoke;
  background:#1566b7;
  border:solid 1px whitesmoke;
}
.goBackButton:hover {
  color: black;
  background:whitesmoke;
  border:solid 1px black;
}
.mainTitle {
  font-size: 2rem;
  font-weight:700;
}
.subButton {
  background:#1566b7;
  color:whitesmoke;
  transition: .3s;
}
.suButton {
  background: whitesmoke;
  color:#1566b7;
  border: 1px solid #1566b7
}
.subTitle {
  font-size: 1.25rem;
  font-weight: 850;
}
.average, .total {
  color: whitesmoke;
}
.linkDiv {
  margin-top: 5%;
}
.privLink {
  color: black;
}
.privLink:hover {
  color:blue;
}
.privacyContainer {
  margin: 10% 4%;
}
/* .inputDiv {
  display: flex;
  justify-content: center;
} */
.voteInfoHeader {
  font-weight:675;
  font-size: 1.25rem;
  margin-bottom: 10%;
}
.voteNameHead {
  margin-top: 5%;
  font-size: 1.25rem;
  font-weight: 625;
}
.voteNameTrue {
  font-size: 1.25rem;
  font-weight: 550;
}
.subsectContainer {
  display:grid;
  grid-template-columns:1fr;
}
.subsectDiv {
  border: 2px solid slateblue;
  border-radius: .75rem;
  margin:auto;
  margin-top: 5%;
  width: 80%;
  background:white;
  padding:5%;
}
.middleDiv {
  background: #8884a4;
  border-radius: .75rem;
  border: none;
}
.voteButDiv {
  display: flex;
  justify-content: center;
}
.subsectTitle, .subsectTitleOdd {
  color: #262626;
  font-weight: 650;
  text-align: center;
  font-size: 1.5rem;
  margin: 10% 0 5% 0;
}
.subsectBody, .subsectBodyOdd {
  margin-top: 10%;
  color: #262626;
  font-weight: 500;
  text-align:center;
}
.subsectTitleOdd, .subsectBodyOdd {
  color:whitesmoke;
}
.showCard {
  margin: 3% 0 4% 0;
  background: #436e70;
}
.privShowCard {
  max-width: 700px;
  margin:auto;
}
.finalCard {
  background: whitesmoke;
  color: #262626;
}
.editButton {
  border: none;
  font-weight: 600;
  background: whitesmoke;
  color: #262626;
}
.editButton, .subButton {
  margin:8% 0 0 3%;
  font-size: 1.25rem;
}
.showName {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2% 0 2% 0;
  text-align: center;
}
.showDesc, .showLength {
  color: whitesmoke;
  font-weight: 570;
  font-size:1.1rem;
  color: white;
}
.showDesc {
  margin-bottom: 8%;
}
.showCreator {
  color: whitesmoke;
  font-weight: 435;
  text-align: center;
}
.headingDiv {
  padding: 2%;
  margin: 10% 2% 5% 2%;
  text-align:center;
}
/* introDiv section:nth-child(even) {
  background: slategray;
}
.introDiv section:nth-child(odd) {
  background: khaki;
} */
.voteInfoPara {
  font-size:1.25rem;
}

.routeTitle, .routeSubTitle {
  font-weight:450;
  color:rgb(211, 211, 211);
  margin:auto;
}
.infoHeader {
  text-decoration:underline;
}
.voteInformation {
  margin:5%;
}
.innerCard {
  background: cadetblue;
  margin-top: 5%;
  color: white
}
.introDiv {
  padding: 4%;
}
.voteInfoContainer {
  margin-bottom: 6%;
}
.voteIconDiv {
  background: #322c3a;
  padding-bottom: 10%;
  padding-top: 4%;
  margin-top: 8%;
}
.submitDiv {
  background: rgb(51, 51, 51);
}
.yesNoTitle {
  background: #2c5ba5;
}
.pageHeader {
  text-decoration: underline;
}
.clearNumber {
  cursor: pointer;
  text-decoration: underline;
  color: crimson;
  margin-left: 5%;
}
.clearNumber:hover {
  color:red;
}
.regLink {
  display: inline;
  color:black;
}
.regLink:hover {
  color:blue;
  text-decoration: underline;
}

/* Sprint Styling */
.sprintButtonDiv {
  margin-top:2%;
  margin-bottom:2%;
}

.clickTitle {
  color: blue;
  font-size:2rem;
  text-decoration: underline;
  cursor:pointer;
}

.outerSprintDiv {
  position: relative;
  /* height:500px; */
}
.sprintCard {
  /* position: absolute; */
  width: 90%;
  padding:3%;
  margin:5%;
  border-radius: .5rem;
}
.sprintQuestion {
  font-size:1.7rem;
  line-height: 1;
  margin-bottom:6%
}
.sprintResTitle {
  text-align: center;
  text-decoration: underline;
  margin-top:5%;
}
.totalSprintNum {
    text-align: center;
    font-size:1.4rem;
}
.indSprintRes {
  align:center;
  padding:3%;
  margin:5%;
  border-radius: .5rem;
}
.sprintMessage {
  width:80%;
  margin:auto;
}
.graphPic {
  width:30%;
  margin-left: 35%;
  margin-bottom:8%;
}
/* .divOuter {
  background: linear-gradient(90deg, rgba(2,83,98,1) 22%, rgba(30,177,214,1) 91%);
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 5%;
  margin-left: 0;
  padding-top:2%;
  border-radius: .5em;
  border: solid black .1rem;
} */
.nonButton {
  border: none;
  background: transparent;
  cursor:pointer;
}
.forgotButton {
  color:blue;
  font-style: bold;
}
.pieDiv {
  cursor: pointer;
  display:grid;
  grid-template-columns:1fr;
}
.voterList {
  table-layout: fixed;
  width: 100%;
  display: block;
  list-style-type: none;
  cursor: pointer;
  height: 15rem;
  overflow-y: scroll;
  margin-bottom:0;
}
.voterList td {
  width: 4%;
}
/* .voterListRow {
  margin-left: 15%;
} */
.getVoterList {
  list-style-type: none;
}
.white {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  text-align: center;
}
.voterListItem {
  margin-left: -5%;
  text-align: left;
}
.voteInstruct {
  padding: 3%;
  margin-top: -2%;
}
.divInner {
  background: whitesmoke;
  color: black;
  border-radius: 0 0 .5em .5em;
  padding:2%;
  padding-bottom: 3%;
  font-size: .8em;
}
.voteInfoDiv {
  width: 99.6%;
  background-color: whitesmoke;
  text-align: center;
  font-size: .8em;
  color: black;
  border-radius: 0 0 .5em .5em;
  padding-bottom: 3%;
}
.voteInfoP {
  font-size: 1.5em;
  padding: 1%;
}
.submitButton {
  background-color: mediumaquamarine;
  border-radius: 8.5rem;
  padding: 1% 2%;
  color: black;
  font-weight:600;
  cursor: pointer;
  border: none;
  width:40%;
  margin-top: 4%;
}
.infoTitle {
  text-align: center;
}
.centerButton {
  margin-left: 30%;
  border-radius: 8.5rem;
  background: linear-gradient(90deg, rgba(2,83,98,1) 22%, rgba(30,177,214,1) 91%);
  padding: 1.25%;
  color: whitesmoke;
  font-size: 1.5em;
  width: 40%;
  cursor: pointer;
}
.voteCard {
  margin-top: 5%;
  background: slategray;
  border-radius: .5rem;
  color: whitesmoke;
}
.nav-div {
  height: 5%;
}

.yes_no_buttons {
  cursor: pointer;
  padding: 1% 3%;
  border-radius: .5rem;
  width:62%;
}
.sprintButton {
  width:50%;
}
.yesVote {
  background: #6fa061;
  border: 3px solid  #4c843c;
  margin-right:5%;
  transition: .3s;
}

.noVote {
  background: #c45256;
  border: 3px solid  #c9383d;
  margin-left:5%;
  transition: .3s;
}
.yesVote:hover {
  background: #4c843c;
  border:none;
}
.noVote:hover {
  background: #c9383d;
  border:none;
}
.textInput, .resetInput {
  width: 70%;
  margin-left: 15%;
  border-radius: .5rem;
  height: 2.5rem;
  margin-bottom: .8%;
  background: white;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 2%;
  font-size: 1rem;
}
.nav_button{
  color: white;
  background: #1a2932;
  border: none;
  cursor:pointer;
  width:auto;
  padding:3% 5%;
  font-size: 1.05em;
  border-radius: 0 0 .5rem .5rem;
}
.nav_button:hover {
  background:lightgray;
  color:black;
}
.page_info {
  padding: 5%;
  font-size: 1.25em;
  background: whitesmoke;
  margin: 5%;
  border-radius: 8.5em;
}
.linkButton {
  background: 	 #0a47a9; /* fallback for old browsers */
  color:white;
  border: 1px white solid;
  transition: .3s;
}
.linkButton:hover {
  background:white;
  color: 	 #0a47a9; /* fallback for old browsers */
  border: 1px #	 #0a47a9 solid;
}
.centerPic {
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
}
/* .pieChart {
  margin: -15%;
} */
.average{
  text-align: center;
  padding-top: 5%;
}
.hidePieChart {
  /* margin-top: -9%; */
  cursor: pointer;
  text-align: center;
}
.clickable {
  cursor: pointer;
  text-align: center;
}
.VoterList {
  display: block;
}
.tableBody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
}
.clickOff {
  padding-top: -10%;
  font-size: 1.25rem;
}
.linkDiv {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5%
}
.links {
  margin:auto;
}
.openDiv {
  padding:5%;
}
/* Message groups */

.success {
  background:#86dfd9;
  color:#103c39;
  border-radius: .5rem;
  padding:2.5% 5%;
  text-align:center;
}
/* Transitions */

.fade-enter {
  opacity: 0.01
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  0pacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.switch-wrapper {
  position: relative;
}
/* backgrounds for active votes */
.darkCadetBlue{
  background: #436e70
}
.darkBlue {
  background: #1566b7
}
.slateblue {
  background: slateblue;
}

.switch-wrapper > div {
  position: absolute;
}
/* .landingDesc {
  width:60%;
  background: cadetblue;
  border-radius: .5rem;
  padding:5%;
  color:whitesmoke;
  margin:auto;
  margin-top:5%;
} */
/* .frontImage {
  width:40%;
  margin-left:30%;
  margin-top:5%;
  border-radius:.5rem;

} */
.frontButtons {
  padding:13% 20%;
  font-size: 1.25rem;
  border-radius: .5rem;
  margin-top: 2%;
  white-space: nowrap;
}
.regFrontBut {
  background: lightseagreen;
  color: white;
  font-weight: 700;
  border: 2px solid #322c3a;
  transition: .1s;
}
.logFrontBut {
  background: white;
  color: lightseagreen;
  font-weight: 700;
  border:2px lightseagreen solid;
}
.regFrontBut:hover {
  background: white;
  color: lightseagreen;
  font-weight: 700;
  border:2px lightseagreen solid;
}
.logFrontBut:hover {
  background: lightseagreen;
  color: white;
  font-weight: 700;
  border: 2px solid #322c3a;
  transition: .1s;
}
.frontDescription {
  color:rgb(211, 211, 211);;
  width:75%;
  margin:auto;
  margin-top:5%;
  font-size:1.25rem;
  text-align: center;
}
.resetInput {
  width: 60%;
  margin-left: 20%;
}
.nav-link {
  width: 50%;
  padding-left: 2%;
  white-space: nowrap;
}
.socialHead {
  margin-top:5%;
  margin-bottom: 5%;
}
.socialFooter {
  display:flex;
  justify-content: center;
}
.voteInfoCard {
  background-color: #f3f4f7;
  background-image: linear-gradient(315deg, #f3f4f7 0%, #caccd1 74%);
}
.footerDiv {
  padding:5%;
  margin: 5%;
  margin-bottom: 5%;
}
.footDiv {
  margin-bottom:8%;
}
.footP{
  font-size: 1.2rem;
  text-align:center;
}


/* Color Palette */

.dark-primary-color    { background: #4b39bb; }
.default-primary-color { background: #6a5acd; }
.light-primary-color   { background: #8d81d9; }
.text-primary-color    { color: #212121; }
/* .nav-color             {background: #8e8c9b} */
.nav-color {
  background-color: #a399b2;
  background-image: linear-gradient(147deg, #a399b2 0%, #4d4855 74%);
  background: #8884a4;
}
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.accent-color          { background: #84cd5a; }
.accent-color-two      {background: #cd6a5a}
.accent-color-three    {background: #5abdcd}
/* Analogous Colors */
.accent-color-five     {background: #5a84cd}
.accent-color-six      {background: #a45acd}
/* Complimentary Color */
.accent-color-seven    {background: #bdcd5a}
.white-text            {color: white}
.smoke-text            {color:whitesmoke}



/* Media query for large mobile */
@media only screen and (min-width:425px) {
  .sprintQuestion {
    font-size:2rem;
  }
  .titleIcons {
    width:38%;
  }
  .yes_no_buttons {
    width: 31%;
  }
  .CTAButton {
    width:40%;
  }
  .yesNoImage {
    margin-top: -5%;
  }
  .mainTitle {
    font-size: 2.5rem;
  }
  /* .routeTitle {
    left:28%;
  } */
  .subTitle {
    font-size:1.4rem;
  }
}
@media only screen and (min-width:475px) {
  .titleIcons {
    width:34%;
  }
  .topDiv {
    padding:15% 0 13% 0;
    margin:0;
  }
  .yesNoImage {
    margin-top: -6%;
  }
  .mainTitle {
    font-size: 2.6rem;
  }
  .subTitle {
    font-size:1.45rem;
  }
}
@media only screen and (min-width:575px) {
  .topDiv {
    padding:12% 0 12% 0;
    margin:0;
  }
  .titleIcons {
    width:30%;
  }
  .yesNoImage {
    margin-top: -7%;
  }
}
@media only screen and (min-width:625px) {
  .graphPic {
    width:16%;
    margin-left: 42%;
    margin-bottom:4%;
  }
  .topDiv {
    padding:10% 0 11% 0;
    margin:0;
  }
  .titleIcons {
    width: 27%;
  }
  .yes_no_buttons {
    width: 26.5%;
  }
  .textInput {
    width: 78%;
    margin-left: 11%;
  }
  .yesNoImage {
    margin-top: -9%;
  }
  .mainTitle {
    font-size: 2.8rem;
  }
  .routeTitle {
    margin-top:10%;
  }
  .subTitle {
    font-size:1.6rem;
  }
}
/* Media query for regular tablet */
@media only screen and (min-width:760px) {
  .subsectDiv {
    width:95%;
  }
  .subsectContainer {
    grid-template-columns:1fr 1fr 1fr;
  }
  .sprintCard {
    width:80%;
    margin:auto
  }
  .sprintQuestion {
    font-size: 2.2rem;
    margin-bottom: 3%;
  }
  .graphPic{
    margin-bottom:3%;
  }
  .pieDiv {
    grid-template-columns: 1fr 1fr;
  }
  .pieResultsDiv {
    margin-top:10%;
  }
  .frontDiv {
    margin:3%
  }
  .topDiv {
    padding:8% 0 9% 0;
    margin:0;
  }
  .titleIcons {
    width:24%;
  }
  .alertDiv {
    margin-top:7%
  }
  .footP {
    font-size:1.3rem;
  }
  .footDiv {
    margin-bottom:5%;
  }
  .privatVoteRow {
    padding:auto;
  }
  .yes_no_buttons {
    width: 20%
  }

  .subsectButton {
    width: 50%;
  }
  .firstSub {
    margin-left: -2%;
  }
  .CTAButton {
    width: 30%;
    padding: 2.5% 5%;
  }
  .textInput {
    width: 86%;
    margin-left: 7%;
  }
  .nav-link {
    width: 100%;
  }
  .yesNoImage {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius:1.5%;
  }
  /* .routeTitle {
    top:18%;
    left:34%;
  } */
  .mainTitle {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width:865px) {
  .topDiv {
    padding:7% 0 9% 0;
  }
}
@media only screen and (min-width:950px) {
  .topDiv {
    padding:2% 0 9% 0;
  }
  .yes_no_buttons {
    width:30%;
  }
  .sprintButton{
    width:20%;
  }
}

/* Media qury for reular laptops */
@media only screen and (min-width:1024px) {
  .sprintCard {
    width:70%;
  }
  .graphPic {
    margin-bottom: 1.5%;
  }
  .sprintQuestion {
    margin-bottom: 1%;
    font-size: 2rem;
  }
  .topDiv {
    padding:1% 0 8% 0;
  }
  .alertDiv{
    margin-top: 2%;
  }
  .innerCard {
    margin-left: 15%;
    width:70%;
  }
  .yes_no_buttons {
    width: 25%;
  }
  .sprintButton{
    width:18%;
  }
  .CTAButton {
    width: 27%;
    padding: 2% 5%;
    margin-top: 7%;
  }
  .textInput {
    width: 90%;
    margin-left: 5%;
  }
}
/* Media query for large laptops */
@media only screen and (min-width:1400px) {
  .titleIcons {
    width:22%;
  }
  .alertDiv{
    margin-top: 1%;
  }
  .yes_no_buttons {
    width: 22%;
  }
  .sprintButton{
    width:16%;
  }
  .showButtons {
    width: 15%;
  }
  .CTAButton {
    width: 24%;
    padding: 1.5% 5%;
    margin-bottom: 0;
  }
}
/* Media query for desktops */
@media only screen and (min-width:2060px) {
  .titleIcons {
    width:18%;
  }
  .yes_no_buttons {
    width: 15%;
  }
  .sprintButton{
    width:13%;
  }
  .showButtons {
    width: 10%;
  }
}
