body {
  background: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  line-height: 145%;
}
a {
  color: white;
  display: block;
}
a:hover {
  text-decoration: none;
  color: white;
}

.App {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-around;
  /* text-align: center; */
}
.archiveDiv {
  display:flex;
  justify-content: center;
}
.CTAButton, .subsectButton, .subsectButtonOdd {
  border: 1px solid white;
  padding: 3% 5%;
  border-radius: .5rem;
  font-weight: 600;
  font-size: 1.25rem;
  /* background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%); */
  background: #6a5acd;
  color: white;
  margin-bottom: 2%;
  margin-top: 10%;
  cursor: pointer;
  transition: .3s;
}
.subsectButtonOdd {
  background:white;
  color:#6a5acd;
  border: 1px #6a5acd solid;
}
.CTAButton:hover, .subsectButton:hover {
  background:white;
  color:#6a5acd;
  border: 1px #6a5acd solid;
}
.subsectButtonOdd:hover{
  background: #6a5acd;
  color: white;
  border:1px solid white
}
.CTAButton {
  width: 50%;
}
.subsectButton, .subsectButtonOdd {
  width: 50%;
}
.navDiv {
  display: flex;
  justify-content: center;
}
.sticky {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.hide {
  display: none;
}
.top_nav {
  background-color: #4f829b;
  overflow: hidden;
  padding:1%;
}
.dropdownItem:hover {
  color: black;
}
.navLink {
  color: #262626;
  font-weight: 600;
  padding-left:2%;
  transition: .1s;
}
.navLink:hover {
  color:black;
  background: white;
  border-radius: .5rem;
}
.topIcons {
  width: 50%;
}
.nav-div {
  background: #1a2932;
}
.navbarBrand:hover {
  color:black;
  text-decoration: underline;
}
.alertDiv {
  margin:auto;
  margin-top:10%;
  width:80%;
}
.topDiv {
  padding: 16% 0 8% 0;
  background-image: url('images/prism.png');
  background: #322c3a;
  position: relative;
}
.yesNoImage {
  margin-top: -1%;
  width: 100%;
  opacity:.95;
}
/* .routeTitle {
  color: black;
  position: absolute;
  top:18%;
  left: 20%;
  text-align:center;
} */
.routeTitle {

}
.mainTitle {
  font-size: 2rem;
  font-weight:700;
}
.subTitle {
  font-size: 1.25rem;
  font-weight: 850;
}
.average, .total {
  color: whitesmoke;
}
.linkDiv {
  margin-top: 5%;
}
.privLink {
  color: black;
}
.privLink:hover {
  color:blue;
}
.privacyContainer {
  margin: 10% 4%;
}
/* .inputDiv {
  display: flex;
  justify-content: center;
} */
.setButton, .goBackButton {
  margin-top: 5%;
}
.voteInfoHeader {
  font-weight:675;
  font-size: 1.25rem;
  margin-bottom: 10%;
}
.voteNameHead {
  margin-top: 5%;
  font-size: 1.25rem;
  font-weight: 625;
}
.voteNameTrue {
  font-size: 1.25rem;
  font-weight: 550;
}
.subsectDiv {
  border: 2px solid slateblue;
  border-radius: .75rem;
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  background:white;
}
.middleDiv {
  background: slateblue;
  border-radius: .75rem;
  border: none;
}
.voteButDiv {
  display: flex;
  justify-content: center;
}
.subsectTitle {
  color: #262626;
  font-weight: 650;
  text-align: center;
  font-size: 1.5rem;
  margin: 10% 0 5% 0;
}
.subsectBody {
  margin-top: 10%;
  color: #262626;
  font-weight: 500;
  text-align:center;
}
.showCard {
  margin: 3% 0 4% 0;
  background: #436e70;
}
.privShowCard {
  max-width: 700px;
  margin:auto;
}
.finalCard {
  background: whitesmoke;
  color: #262626;
}
.editButton {
  border: none;
  font-weight: 600;
  background: whitesmoke;
  color: #262626;
}
.editButton, .subButton {
  margin:8% 0 0 3%;
  font-size: 1.25rem;
}
.showName {
  color: whitesmoke;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2% 0 2% 0;
  text-align: center;
}
.showDesc, .showLength {
  color: whitesmoke;
  font-weight: 570;
  font-size:1.1rem;
  color: white;
}
.showDesc {
  margin-bottom: 8%;
}
.showCreator {
  color: whitesmoke;
  font-weight: 435;
  text-align: center;
}
.headingDiv {
  padding: 2%;
  margin: 10% 2% 5% 2%;
  text-align:center;
}
/* introDiv section:nth-child(even) {
  background: slategray;
}
.introDiv section:nth-child(odd) {
  background: khaki;
} */
.centerButtonRow {
  display: flex;
  justify-content: center;
}
/* .setButton {
  margin-left: 3%;
} */
.goBackButton {
  margin-left: 3%;
}
.innerCard {
  background: cadetblue;
  margin-top: 5%;
  color: white
}
.introDiv {
  padding: 4%;
}
.voteInfoContainer {
  margin-bottom: 6%;
}
.voteIconDiv {
  background-image: url('images/prism.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10%;
  padding-top: 4%;
  margin-top: 8%;
}
.submitDiv {
  background: rgb(51, 51, 51);
}
.yesNoTitle {
  background: #2c5ba5;
}
.pageHeader {
  text-decoration: underline;
}
.clearNumber {
  cursor: pointer;
  text-decoration: underline;
  color: crimson;
  margin-left: 5%;
}
.clearNumber:hover {
  color:red;
}
.regLink {
  display: inline;
  color:black;
}
.regLink:hover {
  color:blue;
  text-decoration: underline;
}
/* .divOuter {
  background: linear-gradient(90deg, rgba(2,83,98,1) 22%, rgba(30,177,214,1) 91%);
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin-top: 5%;
  margin-left: 0;
  padding-top:2%;
  border-radius: .5em;
  border: solid black .1rem;
} */
.nonButton {
  border: none;
  background: transparent;
  cursor:pointer;
}
.forgotButton {
  color:blue;
  font-style: bold;
}
.pieDiv {
  cursor: pointer;
}
.voterList {
  table-layout: fixed;
  width: 100%;
  display: block;
  list-style-type: none;
  cursor: pointer;
  height: 15rem;
  overflow-y: scroll;
  margin-bottom:0;
}
.voterList td {
  width: 4%;
}
/* .voterListRow {
  margin-left: 15%;
} */
.getVoterList {
  list-style-type: none;
}
.white {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  text-align: center;
}
.voterListItem {
  margin-left: -5%;
  text-align: left;
}
.voteInstruct {
  padding: 3%;
  margin-top: -2%;
}
.divInner {
  background: whitesmoke;
  color: black;
  border-radius: 0 0 .5em .5em;
  padding:2%;
  padding-bottom: 3%;
  font-size: .8em;
}
.voteInfoDiv {
  width: 99.6%;
  background-color: whitesmoke;
  text-align: center;
  font-size: .8em;
  color: black;
  border-radius: 0 0 .5em .5em;
  padding-bottom: 3%;
}
.voteInfoP {
  font-size: 1.5em;
  padding: 1%;
}
.submitButton {
  background-color: mediumaquamarine;
  border-radius: 8.5rem;
  padding: 1% 2%;
  color: black;
  font-weight:600;
  cursor: pointer;
  border: none;
  width:40%;
  margin-top: 4%;
}
.infoTitle {
  text-align: center;
}
.centerButton {
  margin-left: 30%;
  border-radius: 8.5rem;
  background: linear-gradient(90deg, rgba(2,83,98,1) 22%, rgba(30,177,214,1) 91%);
  padding: 1.25%;
  color: whitesmoke;
  font-size: 1.5em;
  width: 40%;
  cursor: pointer;
}
.voteCard {
  margin-top: 5%;
  background: slategray;
  border-radius: .5rem;
  color: whitesmoke;
}
.nav-div {
  height: 5%;
}
.yes_no_buttons {
  cursor: pointer;
  padding: 1% 3%;
  border-radius: .5rem;
  width:62%;
}
.yesVote {
  background: #6fa061;
  border: 3px solid  #4c843c;
  margin-right:5%;
  transition: .3s;
}

.noVote {
  background: #c45256;
  border: 3px solid  #c9383d;
  margin-left:5%;
  transition: .3s;
}
.yesVote:hover {
  background: #4c843c;
  border:none;
}
.noVote:hover {
  background: #c9383d;
  border:none;
}
.textInput, .resetInput {
  width: 70%;
  margin-left: 15%;
  border-radius: .5rem;
  height: 2.5rem;
  margin-bottom: .8%;
  background: white;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 2%;
  font-size: 1rem;
}
.nav_button{
  color: white;
  background: #1a2932;
  border: none;
  cursor:pointer;
  width:auto;
  padding:3% 5%;
  font-size: 1.05em;
  border-radius: 0 0 .5rem .5rem;
}
.nav_button:hover {
  background:lightgray;
  color:black;
}
.page_info {
  padding: 5%;
  font-size: 1.25em;
  background: whitesmoke;
  margin: 5%;
  border-radius: 8.5em;
}
.linkButton {
  background: 	 #0a47a9; /* fallback for old browsers */
  color:white;
  border: 1px white solid;
  transition: .3s;
}
.linkButton:hover {
  background:white;
  color: 	 #0a47a9; /* fallback for old browsers */
  border: 1px #	 #0a47a9 solid;
}
.centerPic {
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
}
/* .pieChart {
  margin: -15%;
} */
.average{
  text-align: center;
  padding-top: 5%;
}
.hidePieChart {
  /* margin-top: -9%; */
  cursor: pointer;
  text-align: center;
}
.clickable {
  cursor: pointer;
  text-align: center;
}
.VoterList {
  display: block;
}
.tableBody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
}
.clickOff {
  padding-top: -10%;
  font-size: 1.25rem;
}
.linkDiv {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5%
}
.links {
  margin:auto;
}
.openDiv {
  padding:5%;
}
/* Message groups */

.success {
  background:#86dfd9;
  color:#103c39;
  border-radius: .5rem;
  padding:2.5% 5%;
  text-align:center;
}
/* Transitions */

.fade-enter {
  opacity: 0.01
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  0pacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.switch-wrapper {
  position: relative;
}
/* backgrounds for active votes */
.darkCadetBlue{
  background: #436e70
}
.darkBlue {
  background: #1566b7
}
.slateblue {
  background: slateblue;
}

.switch-wrapper > div {
  position: absolute;
}
.resetInput {
  width: 60%;
  margin-left: 20%;
}
.nav-link {
  width: 50%;
  padding-left: 2%;
  white-space: nowrap;
}
.socialHead {
  margin-top:5%;
  margin-bottom: 5%;
}
.socialFooter {
  display:flex;
  justify-content: center;
}
.voteInfoCard {
  background-color: #f3f4f7;
  background-image: linear-gradient(315deg, #f3f4f7 0%, #caccd1 74%);
}
.footerDiv {
  padding:5%;
  margin: 5%;
  margin-bottom: 5%;
}
.footDiv {
  margin-bottom:8%;
}
.footP{
  font-size: 1.2rem;
  text-align:center;
}

/* Color Palette */

.dark-primary-color    { background: #4b39bb; }
.default-primary-color { background: #6a5acd; }
.light-primary-color   { background: #8d81d9; }
.text-primary-color    { color: #212121; }
/* .nav-color             {background: #8e8c9b} */
.nav-color {
  background-color: #a399b2;
  background-image: linear-gradient(147deg, #a399b2 0%, #4d4855 74%);
  background: #a399b2;
}
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.accent-color          { background: #84cd5a; }
.accent-color-two      {background: #cd6a5a}
.accent-color-three    {background: #5abdcd}
/* Analogous Colors */
.accent-color-five     {background: #5a84cd}
.accent-color-six      {background: #a45acd}
/* Complimentary Color */
.accent-color-seven    {background: #bdcd5a}
.white-text            {color: white}
.smoke-text            {color:whitesmoke}

/* Media query for Medium Moblie */
@media only screen and (min-width:375px) {
  .yes_no_buttons {
    width: 43%;
  }
  .yesNoImage {
    margin-top: -3%;
  }
  /* .routeTitle {
    left:25%;
    top:15%;
  } */
}
/* Media query for large mobile */
@media only screen and (min-width:425px) {
  .yes_no_buttons {
    width: 31%;
  }
  .CTAButton {
    width:40%;
  }
  .yesNoImage {
    margin-top: -5%;
  }
  .mainTitle {
    font-size: 2.5rem;
  }
  /* .routeTitle {
    left:28%;
  } */
  .subTitle {
    font-size:1.4rem;
  }
}
@media only screen and (min-width:475px) {
  .yesNoImage {
    margin-top: -6%;
  }
  .mainTitle {
    font-size: 2.6rem;
  }
  /* .routeTitle {
    left:30%;
    top: 12%;
  } */
  .subTitle {
    font-size:1.45rem;
  }
}
@media only screen and (min-width:575px) {
  .yesNoImage {
    margin-top: -7%;
  }
}
@media only screen and (min-width:625px) {
  .yes_no_buttons {
    width: 26.5%;
  }
  .textInput {
    width: 78%;
    margin-left: 11%;
  }
  .yesNoImage {
    margin-top: -9%;
  }
  .mainTitle {
    font-size: 2.8rem;
  }
.routeTitle {
    margin-top:10%;
  }
  .subTitle {
    font-size:1.6rem;
  }
}
/* Media query for regular tablet */
@media only screen and (min-width:768px) {
  .alertDiv {
    margin-top:7%
  }
  .footP {
    font-size:1.3rem;
  }
  .footDiv {
    margin-bottom:5%;
  }
  .privatVoteRow {
    padding:auto;
  }
  .yes_no_buttons {
    width: 20%
  }
  .subsectButton {
    width: 50%;
  }
  .subsectDiv{
    margin-left: 0;
    width:100%;
  }
  .firstSub {
    margin-left: -2%;
  }
  .middleDiv {
    margin-left: 1%;
    margin-right: 1%;
  }
  .CTAButton {
    width: 30%;
    padding: 2.5% 5%;
  }
  .textInput {
    width: 86%;
    margin-left: 7%;
  }
  .nav-link {
    width: 100%;
  }
  .yesNoImage {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius:1.5%;
  }
  /* .routeTitle {
    top:18%;
    left:34%;
  } */
  .mainTitle {
    font-size: 3rem;
  }
  .subTitle {
    font-size: 1.8rem;
  }
}
/* @media only screen and (min-width:990px) {
  .showCard {
    margin-left:45%;
  }
} */
@media only screen and (min-width:992px) {
  .yes_no_buttons {
    width:30%;
  }
}

/* Media qury for reular laptops */
@media only screen and (min-width:1024px) {
  .alertDiv{
    margin-top: 2%;
  }
  .innerCard {
    margin-left: 15%;
    width:70%;
  }
  .yes_no_buttons {
    width: 25%;
  }
  .showButtons {
    width: 18%;
  }
  .topDiv {
    padding: 10% 0 8% 0;
  }
  .CTAButton {
    width: 27%;
    padding: 2% 5%;
    margin-top: 7%;
  }
  .textInput {
    width: 90%;
    margin-left: 5%;
  }
}
/* Media query for large laptops */
@media only screen and (min-width:1440px) {
  .alertDiv{
    margin-top: 1%;
  }
  .yes_no_buttons {
    width: 22%;
  }
  .showButtons {
    width: 15%;
  }
  .topDiv {
    padding: 7% 0 8% 0;
  }
  .CTAButton {
    width: 24%;
    padding: 1.5% 5%;
    margin-bottom: 0;
  }
}
/* Media query for desktops */
@media only screen and (min-width:2060px) {
  .yes_no_buttons {
    width: 15%;
  }
  .showButtons {
    width: 10%;
  }
  .topDiv {
    padding: 4% 0 6% 0;
  }
}
